*{
  margin: 0;
  padding: 0;
}

#header{
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar{
  padding: 50px 0;
}

.navbar-brand{
  font-weight: 600;
  font-size: 1.5em;
}

.navbar-dark .navbar-brand{ 
color: #dcdde1;
}

.nav-item{
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
  background: #dcdde1;
  color: #262626;
}

.main{
  position: relative;
  background: url(../images/pexels-photo-313691.jpeg) ,rgba(255, 255,255,.5);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 220px 50px 200px;
}

.main:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
}